@each $code, $color in $sdg-colors {
  &.goal-color-#{$code}, &.target-color-#{$code}  {
    background-color: $color;
    color: white;
  }
}

.sdg-related-list-selector {
  .goals .checked {
    opacity: 0.15;
  }

  .input-section {
    margin-top: $line-height / 2;
  }
}
