<div class="sdg-related-list-selector">
  <div class="goals">
    <% goals.each do |goal| %>
      <%= render SDG::Goals::IconComponent.new(goal, checked?(goal.code, record)) %>
    <% end %>
  </div>

  <div class="input-section">
    <%= f.text_field :sdg_related_list,
                      class: "input",
                      data: { "suggestions-list": sdg_related_suggestions,
                              "class-list": sdg_related_colors,
                              "placeholder-text": t("sdg.related_list_selector.placeholder") } %>
  </div>

  <div class="help-section callout primary hide">
    <h4><b><%= t("sdg.related_list_selector.help.title", record: t("activerecord.models.#{record.class.name.underscore}", count: 1)) %></b></h4>
    <ul class="selected-info"></ul>
  </div>
</div>
