<div class="sdg-related-list-selector">
  <div class="goals">
    <% goals.each do |goal| %>
      <%= render SDG::Goals::IconComponent.new(goal, checked?(goal.code, record)) %>
    <% end %>
  </div>

  <div class="input-section">
    <%= f.text_field :sdg_related_list,
                      class: "input",
                      data: { "suggestions-list": sdg_related_suggestions,
                              "class-list": sdg_related_colors } %>
  </div>
</div>
